<template>
    <require from="../../items/generic-storage.css"></require>
    <require from="../../items/generic-storage-modal.css"></require>
    <require from="../../utils/router-button"></require>
    <require from="../../utils/recursive-router-button"></require>

    <ux-dialog>
        <!-- Modal header -->
        <div class="modal-header" style="text-align:center">
            <div class="col-sm-12">

                <!-- Close button -->
                <button type="button" class="close" aria-label="Close" click.trigger="controller.cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>

                <!-- Title -->
                <label style="color:red;" class="modal-title">${title}</label>

                <!-- Separator -->
                <div>
                    <hr />
                </div>
                <div>
                    <img src="../../images/warning.png" />
                </div>
                <label class="modal-title">${subtitle}</label>

            </div>
        </div>
        <!-- Modal footer, command button row -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="position:center" click.trigger="controller.cancel()">Confirm</button>
         </div>
    </ux-dialog>
</template>